* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .box {
  width: 200px;
  height: 200px;
  background-color: green;
  margin: 150px 0 0 100px;
  animation: box_movement 4s infinite;
}

@keyframes box_movement {
  0% {
    margin: 150px 0 0 100px;
  }
  25% {
    margin: 150px 0 0 600px;
  }
  50% {
    margin: 400px 0 0 600px;
    background-color: darkblue;
  }
  75% {
    margin: 400px 0 0 100px;
  }
  100% {
    margin: 150px 0 0 100px;
  }
} */

div.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 100px;
}
.spinner {
  width: 100px;
  height: 100px;
  border: 10px solid black;
  border-radius: 50%;
  border-left-color: transparent;
  border-right-color: transparent;
  margin-top: 50px;
  margin-left: 50px;
  animation: spinner 1s linear infinite;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner_spinner {
  width: 50px;
  height: 50px;
  border: 5px solid black;
  border-radius: 50%;
  border-left-color: transparent;
  border-right-color: transparent;
  animation: spinner 800ms linear infinite;
  animation-direction: reverse;
}

@keyframes spinner {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}

.box {
  width: 200px;
  height: 600px;
  background-color: black;
}

.light {
  /* opacity: 0.5; */
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.red {
  background-color: red;
  animation: traffic 6s linear infinite;
}

.yellow {
  background-color: yellow;
  animation: traffic 6s linear infinite;
  animation-delay: 2s;
}
.green {
  background-color: green;
  animation: traffic 6s linear infinite;
  animation-delay: 4s;
}

@keyframes traffic {
  0%,
  50% {
    opacity: 0.363;
  }

  75% {
    opacity: 1;
  }

  100% {
    opacity: 0.363;
  }
}
